.main {
  padding-top: calc(var(--element-height-sobremenu));
  padding-bottom: cacl(
    var(--element-height-footer) + var(--element-padding-y-main)
  );
  padding-right: var(--element-padding-x-main);
  padding-left: var(--element-padding-x-main);
}

.main[data-full="true"] {
  padding-top: calc(var(--element-height-sobremenu));
  padding-bottom: var(--element-height-footer);
  padding-right: 0;
  padding-left: 0;
}

@media (max-width: 680px) {
  .main {
    padding-top: calc(var(--element-height-menu));
  }

  .main[data-full="true"] {
    padding-top: calc(var(--element-height-menu));
  }
}

.main[data-no-padding-x="true"] {
  padding-right: 0;
  padding-left: 0;
}
