.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.sobremenu {
  width: 100%;
  background-color: var(--color-background-invert);
  color: var(--color-text-invert);
  display: flex;
  justify-content: space-between;
}

.lang {
  display: flex;
}

.langButton {
  padding: 0 var(--space-2xs);
  background-color: var(--color-background-red);
  opacity: 1;
}

.langButton[data-active="true"] {
  opacity: 0.7;
}

.langButton:hover {
  opacity: 0.9;
}

.homeButton {
  background-color: var(--color-background-invert);
  color: var(--color-text-invert);
  padding-bottom: var(--space-s);
}

.homeButton:hover {
  background-color: var(--color-background-red);
}

.logoPhacker25 {
  padding-top: 2px;
  width: 98px;
  opacity: 0.7;
}

.logoPhacker25:hover {
  background-color: var(--color-background-red);
  opacity: 1;
}

.menuDesktop {
  position: relative;
  width: 100%;
  display: flex;
  background-color: rgb(var(--base-color-grey-600));
}

.primaryLink {
  color: var(--color-text-invert);
  background: var(--color-background-invert);
  opacity: 1;
}

.primaryLink:hover {
  background-color: rgb(var(--base-color-grey-800));
}

.rect {
  height: 100%;
}

.menuMobile,
.drawer {
  display: none;
}
.blank {
  flex: 1;
}
@media (max-width: 680px) {
  .root {
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr;
  }
  .menuDesktop,
  .sobremenu,
  .homeButton {
    display: none;
  }

  .menuMobile {
    display: flex;
    background-color: var(--color-background-invert);
    height: var(--element-height-menu);
    color: var(--color-text-invert);
  }

  .logoMobile {
    position: absolute;
    top: var(--space-4xs);
    left: var(--space-4xs);
    width: 156px;
  }

  .drawer {
    position: fixed;
    left: 0;
    top: var(--element-height-menu);
    height: calc(
      100% - var(--element-height-menu) - var(--element-height-footer)
    );
    width: 100%;
    background-color: var(--color-background-invert);
    color: var(--color-text-invert);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--space-2xs);
  }

  .drawerMenu {
    display: flex;
    flex-direction: column;
    gap: var(--space-4xs);
  }

  .lang {
    display: flex;
    justify-content: flex-end;
    gap: var(--space-s);
  }
}
