.root {
  /* Estilos personalizados para la página Programa */
  padding-bottom: var(--space-2xl);
}

.stickyHeader {
  display: grid;
  grid-template-columns: 60px 1fr 1fr 1fr;
  gap: 0;
  position: sticky;
  top: var(--element-height-sobremenu);
  background-color: var(--color-background-primary);
  z-index: 100;
  border-bottom: 1px dashed var(--color-border-primary);
}

.headerHoras,
.header,
.mobileHeader {
  text-transform: uppercase;
  font-size: var(--text-xl);
}

.headerHoras {
  grid-column: 1;
}

/* Mobile styles */
@media (max-width: 900px) {
  .stickyHeader,
  .header {
    display: none;
  }
}
